.menu {
  min-height: 22px;
  font-size: 14px;
  color: #333;
  list-style: none;
  cursor: pointer;
  padding: 9px 16px 9px 4px;
  transition: color .1s ease-in,background-color .1s ease-in;
  line-height: 1.25;
}

.menuCurrent {
  composes: menu;
  background: #fff;
  font-weight: bold;
  border-radius: 3px;
}